{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{% extends "@uwmbase/containers/article/article.twig" %}

{% set modifier_class = [
  'node',
  'node--type-' ~ row.node.bundle|clean_class,
  view_mode ? 'node--view-' ~ view_mode|clean_class,
] | join(' ') %}

{% set attributes = attributes.removeAttribute('class') %}


{% block content %}

  {% set href = row.node_href %}
  {% set pretty_href = href|replace({'https://': '', 'http://': ''}) %}

  {#{{ devel_breakpoint() }}#}


  <div{{ content_attributes }}>

    <h2 class="title page-title">
      <a class="reader-url" href="{{ href }}">{{ row.node.title.value }}</a>
    </h2>

    <a class="view-more" href="{{ href }}">{{ pretty_href }}</a>

    {#{% if row.search_api_excerpt|raw#}
      {#and row.node.bundle is not same as('res_provider')#}
      {#and row.node.bundle is not same as('res_clinic') %}#}
      {#<div class="r-excerpt">{{ row.search_api_excerpt|raw }}</div>#}

    {#{% else %}#}
      <div class="r-teaser">{{ row.uwmcs_search_teaser_raw|raw }}</div>
    {#{% endif %}#}

  </div>

{% endblock %}

{#{{ drupal_entity('node', row.nid, 'search-result') }}#}




