{#
/**
 * @file
 * Theme override for Phone Number field on Res Clinic nodes.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * Custom variables:
 * - view_mode: The view mode in which the entity with this field is currently
 *   being rendered.
 *
 * @see template_preprocess_field()
 * @see uwmbase_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
    'clinic-card__subheader'
  ]
%}
{#
  Card view mode -----------------------------------------------------------
  @see node--res-clinic--card.html.twig
 #}
{% if view_mode is same as('card') %}
  {% set label = 'Appointments'|t %}

  <div{{ attributes.addClass(classes) }}>

    {#
      TODO: decide new icons approach - font, include directly, css background?
      If using icon font: use calendar icon, once added to uwm-ico font.
      This uses the default icon temporarily.
      @see src/scss/base/_uwm-icons.scss

    <i class="uwmed-icon" aria-hidden="true"></i>
    #}

    {% include 'themes/contrib/uwmbase/dist/assets/icon_calendar.svg' %}

    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>

    {% for item in items %}
      {#
        This field should be configured to render in "Plain text" format,
        not the linked phone number, so we can use the `uwm_format_phone`
        filter here.
      #}
      {% set value = item.content|render %}
      <div{{ item.attributes.addClass('field__item') }}>
        <a href="tel:{{ value|uwm_format_phone }}">{{ value|uwm_format_phone('.') }}</a>
      </div>
    {% endfor %}

  </div>

{# Other view modes --------------------------------------------------------- #}
{% else %}
  {% if label_hidden %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% else %}
    <div{{ attributes.addClass(classes) }}>
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
