{% extends "@uwmbase/containers/article/article.twig" %}


{#{% set modifier_class = [#}
  {#'node',#}
  {#'node-' ~ node.getType,#}
  {#'view-mode-' ~ view_mode#}
{#]|join(' ') %}#}

{% set modifier_class = attributes.class %}


 {% block content %}

   {{ attach_library('uwmbase/provider-card') }}

   {#{{ content }}#}


   <div class="inner">

     {#<pre>{{ dump(node|keys) }}</pre>#}
     {#<pre>{{ dump(node.field_res_isacceptingnewpts.0.value) }}</pre>#}


     <div class="provider-card__image">

       {% if content.field_res_image|render|trim is empty %}
         <a href="{{ url }}" rel="bookmark">
           <img src="/themes/custom/uwmed/src/assets/provider-silhouette.jpg"
                alt="" class="img-fluid"/>
         </a>
       {% else %}
         {{ content.field_res_image }}
       {% endif %}

     </div>

     <h2 class="provider-card__title"><a href="{{ url }}"
                                         rel="bookmark">{{ label }}</a></h2>
     {{ title_suffix }}

     <div class="provider-card__accepting-patients">

       {% if node.field_res_isacceptingnewpts.0.value is defined and node.field_res_isacceptingnewpts.0.value == 1 %}
         {{ "Accepting new patients"|t }}
       {% endif %}

     </div>

     <div class="provider-card__specialities">

       {% if content.field_res_expertises %}

         {% set specialities = content.field_res_expertises|uwm_filter_non_numeric_keys %}
         {% set elipses = specialities|length > 3 %}

         <h3>{{ 'Specialities'|t }}</h3>

         <div class="items">
           {{ specialities|uwm_replace_links_with_text|slice(0, 3)|join(' | ') }}{{ elipses ? '...' : '' }}
         </div>

         {% if elipses %}
           <div class="see-all">
             <a href="{{ url }}"
                rel="bookmark">{{ 'See all specialities >'|t }}</a>
           </div>
         {% endif %}

       {% endif %}

     </div>

     <div class="provider-card__appointments">

       {#{{ content.field_res_clinics }}#}

     </div>

     <div class="provider-card__locations">

       {% if content.field_res_clinics %}

         {% set locations = content.field_res_clinics|uwm_filter_non_numeric_keys %}
         {% set elipses = locations|length %}

         <h3>{{ (locations|length > 1 ? 'Locations' : 'Location')|t }}</h3>

         <div class="items">
           {{ locations|slice(0, 3) }}{{ elipses ? '...' : '' }}
         </div>

         {% if elipses %}
           <div class="see-all">
             <a href="{{ url }}"
                rel="bookmark">{{ 'See all locations >'|t }}</a>
           </div>
         {% endif %}

       {% endif %}

     </div>


   </div>


   {#{{ devel_breakpoint() }}#}

   {#{% macro print_just_a_few(content_items, number_of_items = FALSE, see_more_text = '', separator = '', strip_tags = FALSE) %}#}

   {#{% set items = [] %}#}
   {#{% set items_suffix = '' %}#}
   {##}
   {## We are printing items from the render array so,#}
   {## we skip properties starting with a '#' and#}
   {## return just list items.#}
   {##}

   {#{% for key, value in content_items if key matches '/^\\d+$/' %}#}{#{% if key|first != '#' %}#}

   {#{% set item %}#}
   {#<span class="i-{{ key+1 }}">#}

   {#{% if strip_tags == TRUE and value['#title'] is not empty %}#}
   {#{{ value['#title'] }}#}
   {#{% else %}#}
   {#{{ value }}#}
   {#{% endif %}#}

   {#{% if key+1 == number_of_items %}...{% endif %}#}
   {#</span>#}

   {#{% endset %}#}
   {#{% set items = items | merge([ item ]) %}#}

   {#{% endfor %}#}

   {#{% if number_of_items and items|length > number_of_items %}#}

   {#{% set items = items|slice(0, number_of_items) %}#}
   {#{% set items_suffix = see_more_text %}#}

   {#{% endif %}#}

   {#{{ items|join(separator)|raw }}#}
   {#<span class="suffix">{{ items_suffix|raw }}</span>#}

   {#{% endmacro %}#}



 {% endblock %}


