<section class="search-provider-card col d-flex flex-column justify-content-between shadow-sm m-2 p-3">
  <div class="row">
    <div class="col-4 mr-0">
      <div class="search-provider-card__image-wrapper mb-3">
        <img class="search-provider-card__headshot img-fluid"
             src="{{ imageUrl }}"
             alt="Headshot of {{ name }}"/>

        {% if bioVideoEmbedUrl %}
          <button
            class="search-provider-card__video-link js-modal-video-btn p-2 border-0 small text-center text-link-blue no-underline"
            data-src="{{ bioVideoEmbedUrl }}"
            data-toggle="modal"
            data-target=".js-modal-video"><img
              class="search-provider-card__video-icon pr-2"
              src="/themes/contrib/uwmbase/dist/images/bio-video-icon.svg"/>Bio
            Video</button>
        {% endif %}
      </div>

      {% if primaryLocation %}
        <h3 class="search-provider-card__location-heading h4 mb-1">Primary
          Location</h3>
        <p class="m-0 small">
          <a
            class="search-provider-card__location-name text-link-blue no-underline"
            href="{{ primaryLocation.url }}">{{ primaryLocation.title }}</a>
        </p>
      {% endif %}
    </div>

    <div class="col-8">
      <h2
        class="search-provider-card__name display-3 text-heading-purple">{{ name }}</h2>

      {% if isAcceptingNewPatients%}
        <p class="search-provider-card__appointments--accepting"><i
            class="text-ui-green fas fa-check-circle"></i> Accepting new
          patients</p>
      {% elseif not isAcceptingNewPatients %}
        <p class="search-provider-card__appointments--not-accepting"><i
            class="text-ui-red fas fa-times-circle"></i> Not
          accepting
          new patients</p>
      {% endif %}

      {% if specialties %}
        <h3 class="search-provider-card__list-heading">Specialties</h3>
        <ul class="search-provider-card__list list-inline small">
          {% for s in specialties %}
            <li
              class="search-provider-card__list-item list-inline-item m-0">{{ s }}{% if not loop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if languages %}
        <h3 class="search-provider-card__list-heading">Languages</h3>
        <ul class="search-provider-card__list list-inline small">
          {% for l in languages %}
            <li
              class="search-provider-card__list-item list-inline-item m-0">{{ l }}{% if not loop.last %}, {% endif %}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if not isAcceptingNewPatients %}
      <p class="mt-3 mb-0 small">Current patients: Book via <a
            class="text-link-blue no-underline"
            href="/patient-care/ecare">eCare</a> or call <a
            class="text-link-blue no-underline" href="tel:2065205000">206.520.5000.</a>
        </p>
      {% endif %}
      <a
        class="search-provider-card__appt-link{% if not isAcceptingNewPatients %} search-provider-card__appt-link--disabled{% endif %} py-2 d-block border-top border-bottom mt-2 mb-0"
        href="/patient-care/make-an-appointment">Make an appointment <i
          class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</section>