
{{ uwm_plugin_block('views_exposed_filter_block:uwm_search_providers-page_2') }}

{#{{ uwm_plugin_block('facet_block:facet_providers_search_2_uwmsearchwithin') }}#}

{{ uwm_plugin_block('facet_block:facet_providers_search_2_medical_services') }}

{{ uwm_plugin_block('facet_block:facet_providers_search_2_expertise') }}

{{ uwm_plugin_block('facet_block:facet_providers_search_2_accepting_new_patients') }}


<div class="submit-wrapper uwm-accent-color__light-purple">
  <a class="btn btn-cta btn-cta-link submit" href="#">SEARCH</a>
  <a class="btn btn-cta btn-cta-link reset" href="/search/providers">RESET</a>

</div>
