{#{{ drupal_block('views_exposed_filter_block', {view: uwm_locations_search, display_id: page_1}) }}#}

{{ uwm_plugin_block('views_exposed_filter_block:uwm_search_providers-page_1') }}

{#{{ uwm_plugin_block('facet_block:provider_facet_uwmsearchwithin') }}#}

{{ uwm_plugin_block('facet_block:provider_facet_medical_services') }}

<div class="hidden">{{ uwm_plugin_block('facet_block:provider_facet_expertise') }}</div>


{{ uwm_plugin_block('facet_block:provider_facet_languages') }}

{{ uwm_plugin_block('facet_block:provider_facet_gender') }}

<div class="submit-wrapper uwm-accent-color__purple d-none d-xl-inline-block">
  <a class="btn btn-cta btn-cta-link submit" href="#">SEARCH</a>
  <a class="btn btn-cta btn-cta-link reset" href="/search/providers">RESET</a>
</div>

{{ uwm_plugin_block('facet_block:provider_facet_accepting_patients') }}

<div class="submit-wrapper uwm-accent-color__purple d-xl-none">
  <a class="btn btn-cta btn-cta-link submit" href="#">SEARCH</a>
  <a class="btn btn-cta btn-cta-link reset" href="/search/providers">RESET</a>
</div>