{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}

    {% set searchWithinDefaults = [
      'Providers',
      'Locations',
      'Medical Services',
      'Patient Info & Resources',
      'Education',
      'Research',
      'Referrals'
    ]|sort %}

{% set title = title ? title :
  facet.id == 'general_search_facet_uwmsearchwithin' ? 'Show me' :
  facet.id == 'locations_facet_uwmsearchwithin' ? 'Show me' :
  facet.id == 'locations_facet_medical_services' ? 'Service' :
  facet.id == 'provider_facet_uwmsearchwithin' ? 'Show me' :
  facet.id == 'provider_facet_gender' ? 'Gender' :
  facet.id == 'provider_facet_languages' ? 'Language' :
  facet.id == 'provider_facet_medical_services' ? 'Service' :
  facet.id == 'provider_facet_accepting_patients' ? 'Accepting patients' : '' %}

{% set live_search = items|length > 6 ? 'true' : 'false' %}


<div
  class="dm-facets-selector dm-facets-widget-{{ facet.widget.type }} dm-facet-id-{{ facet.id }}">
  {#{{ devel_breakpoint() }}#}

  <select class="selectpicker" title="{{ title }}"
          data-live-search="{{ live_search }}" data-width="100%">

    {% if items %}


      {% for item in items %}

        {% set title = item.value['#title']['#value']|title|replace({"'S": "'s"}) %}
        {#{% if 'patient info' not in title|lower %} Hide "Patient Info & Resources" #}


          {% set title = title|replace({"Education": "School of Medicine"}) %}
          {#{% set title = "Patient Info" in title ? "Patient Info & Resources" : title %}#}

          {% set url = item.value['#url']|render %}
          {% set value = item.value['#attributes']['data-drupal-facet-item-id'] %}
          {% set first_term = item.value['#url'].options['query']['fs_p'][0] %}

          {% set filter_i = item.value['#attributes']['data-drupal-facet-item-id'] %}
          {% set filter_parts = value|split('-') %}
          {% set filter_val_val = filter_parts|last %}
          {% set filter_val_key = filter_parts|slice(0, -1)|join('-') %}

          {#{% if loop.first %}#}
          {#<option data-url=""#}
          {#value="{{ filter_val_key }}:">- All -</option>#}
          {#{% endif %}#}

          {#{{ devel_breakpoint() }}#}
          <option data-url="{{ url }}"
                  value="{{ filter_val_key }}:{{ filter_val_val }}">{{ title }}</option>
          {#<li {{ item.attributes }}#}

        {% endif %}
      {% endfor %}
    {% endif %}


  </select>


</div>
