{# Prints Accordion template. #}
Hello world!
<div class="paragraph--uwm-accordion-container">
  {% if expandAll %}
  <button type="button" class="btn btn-primary uwm-accordion-button" title="{{ 'Click to expand all accordions in this section.'|trans }}">
      {{ 'Expand All'|trans }}
  </button>
{% endif %}
  <div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} role="tablist" aria-multiselectable="true">
    <div class="paragraph__column">
      <div class="card panel panel-default">
        {% if showIndicators %}
          {% set indicator_class = 'display' %}
        {% else %}
          {% set indicator_class = 'normal' %}
        {%  endif %}
        {# Loop through all of the accordion sections. #}
        {% for key, item in accordionSections if key|first != '#' %}
          {# Set variables if accordion should be shown. #}
          {% if item['#paragraph'].uwm_show_button.value %}
            {% set show_accordion = ' in' %}
            {% set aria = 'true' %}
          {% else %}
            {% set show_accordion = '' %}
            {% set aria = 'false' %}
          {% endif %}
          <div class="card-header panel-heading" role="tab" id="heading-{{ paragraph_id }}-{{ key + 1 }}">
            <div class="panel-title">
              <a class="{{ (indicator_class) }}" role="button" data-toggle="collapse" data-parent="{{ paragraph_id }}" href="#collapse-{{ paragraph_id }}-{{ key + 1 }}" aria-expanded="{{ aria }}" aria-controls="collapse-{{ paragraph_id }}-{{ key + 1 }}">
                {# Print the accordion section title. #}
                {{ item['#paragraph'].uwm_accordion_section_title.value }}
              </a>
            </div>
          </div>
          <div id="collapse-{{ paragraph_id }}-{{ key + 1 }}" class="card-block panel-collapse collapse{{ show_accordion }}" role="tabpanel" aria-labelledby="heading-{{ paragraph_id }}-{{ key + 1 }}">
            {# Loop through all of the accordion section bodies. #}
            {% for body_key, body_item in item['#paragraph'].uwm_accordion_section_body %}
              {# Use the same render array as item and set the '#paragraph'. #}
              {% set section_body = item %}
              {% set lang = section_body['#paragraph'].langcode[0].value %}
              {# Check if a translation exists #}
              {% if section_body['#paragraph'].uwm_accordion_section_body[body_key].entity.hasTranslation(lang) %}
                {# Load the entity for the current translation #}
              	{% set section_translation= section_body['#paragraph'].uwm_accordion_section_body[body_key].entity.getTranslation(lang) %}
              {% else %}
                {# Load the source entity #}
              	{% set section_translation= section_body['#paragraph'].uwm_accordion_section_body[body_key].entity %}
              {% endif %}
              {% set section_body = section_body|merge({'#paragraph': section_translation}) %}
              {# Remove the cache keys so it doesn't repeat the first value. #}
              {% set section_body = section_body|merge({'#cache': {}}) %}
              {# Print the compiled section body. #}
              {{ section_body }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
